<%= form_for person, :html => {:class => 'form-horizontal'} do |p| %>

  <div class='control-group'>
    <%= p.label :type, :class => 'control-label' %>
    <div class='controls'>
      <%= p.select :type, { 'Individual' => 'Individual', 'Board Member' => 'BoardMember', 'Advisor' => 'Advisor' } %>
    </div>
  </div>

  <div class='control-group'>
    <%= p.label :first_name, :class => 'control-label' %>
    <div class='controls'>
      <%= p.text_field :first_name %>
    </div>
  </div>

  <div class='control-group'>
    <%= p.label :last_name, :class => 'control-label' %>
    <div class='controls'>
      <%= p.text_field :last_name %>
    </div>
  </div>

  <div class='control-group'>
    <%= p.label :occupation, :class => 'control-label' %>
    <div class='controls'>
      <%= p.text_field :occupation %>
    </div>
  </div>

  <%= p.fields_for :phone_number, person.phone_number do |pn| %>
    <div class='control-group'>
      <%= pn.select :label, { 'Home' => 'Home', 'Business' => 'Business', 'Mobile' => 'Mobile' }, {}, { :class => 'control-label' } %>
      <div class='controls'>
        <%= pn.text_field :number %>
      </div>
    </div>
  <% end %>

  <div class='control-group'>
    <div class='controls'>
      <%= p.submit "#{action}" , :class => 'btn' %>
    </div>
  </div>

<% end %>
