<%= form_for person, :html => {:class => 'form-horizontal'} do |p| %>

  <div class='control-group'>
    <%= p.label :type, :class => 'control-label' %>
    <div class='controls'>
      <%= p.select :type, { 'Individual' => 'Individual',
                            'Board Member' => 'BoardMember',
                            'Advisor' => 'Advisor' } %>
    </div>

    <%= p.label :first_name, :class => 'control-label' %>
    <div class='controls'>
      <%= p.text_field :first_name %>
    </div>

    <%= p.label :last_name, :class => 'control-label' %>
    <div class='controls'>
      <%= p.text_field :last_name %>
    </div>

    <%= p.label :occupation, :class => 'control-label' %>
    <div class='controls'>
      <%= p.text_field :occupation %>
    </div>
  </div>

  <h4>Phone Numbers</h4>
  <%= p.fields_for :phone_numbers do |builder| %>
    <%= render 'shared/phone_number_fields', :f => builder %>
  <% end %>
  <p>
    <%= link_to_add_fields "Add Phone Number", p, :phone_numbers %>
  </p>

  <h4>Email Addresses</h4>
  <%= p.fields_for :email_addresses do |builder| %>
    <%= render 'shared/email_address_fields', :f => builder %>
  <% end %>
  <p>
    <%= link_to_add_fields "Add Email Address", p, :email_addresses %>
  </p>

  <h4>Websites</h4>
  <%= p.fields_for :websites do |builder| %>
    <%= render 'shared/website_fields', :f => builder %>
  <% end %>
  <p>
    <%= link_to_add_fields "Add Website", p, :websites %>
  </p>

  <h4>Notes</h4>
  <%= p.fields_for :notes do |builder| %>
    <%= render 'shared/note_fields', :f => builder %>
  <% end %>
  <p>
    <%= link_to_add_fields "Add Note", p, :notes %>
  </p>

  <div class='control-group'>
    <div class='controls'>
      <%= p.submit "#{action}" , :class => 'btn' %>
    </div>
  </div>

<% end %>
