<%= form_for person, :html => {:class => 'form-horizontal'} do |f| %>

  <div class='control-group'>
    <%= f.label :type, :class => 'control-label' %>
    <div class='controls'>
      <%= f.select :type, { 'Individual' => 'Individual',
                            'Board Member' => 'BoardMember',
                            'Advisor' => 'Advisor' } %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :first_name, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :last_name, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :occupation, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :occupation %>
    </div>
  </div>

  <%= f.fields_for :phone_numbers do |builder| %>
    <%= render 'phone_number_fields', :f => builder %>
  <% end %>
  <%= link_to_add_fields "Add Phone Number", f, :phone_numbers %>

  <!--
  <%#= f.fields_for :email_address do |builder| %>
    <div class='control-group'>
      <%#= ea.select :label, { 'Home' => 'Home',
                              'Business' => 'Business',
                              'Mobile' => 'Mobile',
                              'Other' => 'Other',}, {}, { :class => 'control-label' } %>
      <div class='controls'>
        <%#= ea.text_field :email %>
      </div>
    </div>
  <%# end %>
 -->
  <div class='control-group'>
    <div class='controls'>
      <%= f.submit "#{action}" , :class => 'btn' %>
    </div>
  </div>

<% end %>
