<div class="content">
<% if flash[:notice] %>
  <%= render :partial => 'shared/success', :locals => { :notice => flash[:notice] } %>
<% end %>
<% if flash[:error] %>
  <%= render :partial => 'shared/error', :locals => { :error => flash[:error] } %>
<% end %>
<% if @search_term %>
  <h1>Searching for "<%= @search_term %>"</h1>
  <h3>Individuals <%= link_to 'New Individual', new_person_path, :class => 'btn' %></h3>
  <%= render :partial => "table", :locals => { :people => @individuals } %>
  <h3>Board Members <%= link_to 'New Board Member', new_person_path, :class => 'btn' %></h3>
  <%= render :partial => 'table', :locals => { :people => @board_members } %>
  <h3>Advisors <%= link_to 'New Advisor', new_person_path, :class => 'btn' %></h3>
  <%= render :partial => 'table', :locals => { :people => @advisors } %>
<% else %>
 	<h1>Welcome!</h1>
	<p>Search for contacts by either first name, last name, or occupation above.</p>
  <p>Or create a new person by clicking <%= link_to 'here', new_person_path %></p>
<% end %>
</div><!-- .content -->
