<h1>Searching for "<%= @search_term %>"</h1>
<h3>Individuals <%= link_to 'New Individual', new_person_path, :class => 'btn' %></h3>
<%= render :partial => "table", :locals => { :people => @individuals } %>
<h3>Board Members <%= link_to 'New Board Member', new_person_path, :class => 'btn' %></h3>
<%= render :partial => 'table', :locals => { :people => @board_members } %>
<h3>Advisors <%= link_to 'New Advisor', new_person_path, :class => 'btn' %></h3>
<%= render :partial => 'table', :locals => { :people => @advisors } %>
