<h1><%= @person.full_name %></h2>
<h3>Occupation: <%= @person.occupation %></h3>
<h3>Phone Number: <%= @person.phone_numbers.first ? @person.phone_numbers.first.info : nil %></h3>
<%= link_to 'Edit', edit_person_path(@person), :class => 'btn' %>
<%= link_to 'Delete', person_path(@person), :method => :delete, :confirm => 'Are you sure?', :class => 'btn' %>
