<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container'>
      <%= link_to 'Inner City Advisors', root_path, :class => 'brand' %>
      <%= form_tag search_path, :method => :get, :class => 'navbar-search' do %>
        <%= text_field_tag 'search', nil,  :class => 'search-query span3' %>
        <%= submit_tag 'Search', :class => "btn", :id => 'Search'  %>
      <% end %>
      <ul class='nav'>
        <li><%= link_to 'New Person', new_person_path %></li>
        <li><%= link_to 'New Company', new_company_path %></li>
      </ul>
      <ul class='nav pull-right'>
        <li><a href='#'>FAQ</a></li>
        <li class='divider-vertical'></li>
        <li><a href='#'>Log In</a></li>
      </ul>
    </div><!-- .container -->
  </div><!-- .navbar-inner -->
</div><!-- .navbar -->

<% if flash[:notice] %>
  <%= render :partial => 'shared/success', :locals => { :notice => flash[:notice] } %>
<% end %>
<% if flash[:error] %>
  <%= render :partial => 'shared/error', :locals => { :error => flash[:error] } %>
<% end %>
