<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container'>
      <%= link_to 'Inner City Advisors', root_path, :class => 'brand' %>
      <%= form_tag search_path, :method => :get, :class => 'navbar-search' do %>
        <%= text_field_tag 'search', nil,  :class => 'search-query span3' %>
        <%= submit_tag 'Search', :class => "btn", :id => 'Search'  %>
      <% end %>
      <% if current_user %>
        <ul class='nav'>
          <li><%= link_to 'New Person', new_person_path %></li>
          <li><%= link_to 'New Company', new_company_path %></li>
        </ul>
      <% end %>
      <ul class='nav pull-right'>
      <% if current_user %>
        <li><%= link_to 'Import', upload_path %></li>
        <li class='divider-vertical'></li>
      <% end %>
        <li><%= link_to 'About', about_path %></li>
        <li class='divider-vertical'></li>
		  <% if current_user %>
				<li><%= link_to 'Sign Out', '/signout' %></li>
			<% else %>
        <li class='dropdown'>
          <%= link_to '#', :class => 'dropdown-toggle', :"data-toggle" => 'dropdown' do %>
            Sign In<b class='caret'></b>
          <% end %>
          <ul class='dropdown-menu'>
            <li><%= link_to 'Twitter', '/auth/twitter', :class => 'auth_provider' %></li>
            <li><%= link_to 'OpenID', '/auth/google', :class => 'auth_provider' %></li>
          </ul>
        </li>
			<% end %>
      </ul>
    </div>
  </div>
</div>
