<div class="content">
  <% if @search %>
  <h1>Searching for "<%= @search %>"</h1>
  <h3>People</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Occupation</th>
      </tr>
    </thead>
    <tbody>
    <% @people.each_with_index do |person, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.occupation %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% else %>
 	<h1>Welcome!</h1>
	<p>Some kind of welcome message that briefly explains how to use the CRM</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <% end %>
</div><!-- .content -->
<div class="footer">
  Footer message
</div><!-- .footer-->
