<h1>Searching for "<%= @search_term %>"</h1>
<% if !@individuals.empty? %>
  <h3>Individuals</h3>
  <%= render :partial => "people/table", :locals => { :people => @individuals } %>
<% end %>
<% if !@board_members.empty? %>
  <h3>Board Members</h3>
  <%= render :partial => 'people/table', :locals => { :people => @board_members } %>
<% end %>
<% if !@advisors.empty? %>
  <h3>Advisors</h3>
  <%= render :partial => 'people/table', :locals => { :people => @advisors } %>
<% end %>
<% if !@education_companies.empty? %>
  <h3>Education Companies</h3>
  <%= render :partial => 'companies/table', :locals => { :companies => @education_companies } %>
<% end %>
<% if !@portfolio_companies.empty? %>
  <h3>Portfolio Companies</h3>
  <%= render :partial => 'companies/table', :locals => { :companies => @portfolio_companies } %>
<% end %>
<% if !@professional_service_providers.empty? %>
  <h3>Professional Service Providers</h3>
  <%= render :partial => 'companies/table', :locals => { :companies => @professional_service_providers } %>
<% end %>
