<h1>Searching for "<%= @search_term %>"</h1>
<h3>Individuals <%= link_to 'New Individual', new_person_path, :class => 'btn' %></h3>
<%= render :partial => "people/table", :locals => { :people => @individuals } %>
<h3>Board Members <%= link_to 'New Board Member', new_person_path, :class => 'btn' %></h3>
<%= render :partial => 'people/table', :locals => { :people => @board_members } %>
<h3>Advisors <%= link_to 'New Advisor', new_person_path, :class => 'btn' %></h3>
<%= render :partial => 'people/table', :locals => { :people => @advisors } %>
<h3>Education Companies <%= link_to 'New Education Company', new_company_path, :class => 'btn' %></h3>
<%= render :partial => 'companies/table', :locals => { :companies => @education_companies } %>
<h3>Portfolio Companies <%= link_to 'New Portfolio Company', new_company_path, :class => 'btn' %></h3>
<%= render :partial => 'companies/table', :locals => { :companies => @portfolio_companies } %>
<h3>Professional Service Providers <%= link_to 'New Professional Service Provider', new_company_path, :class => 'btn' %></h3>
<%= render :partial => 'companies/table', :locals => { :companies => @professional_service_providers } %>
