<%= form_for company, :html => {:class => 'form-horizontal'} do |c| %>

  <div class='control-group'>
    <%= c.label :type, :class => 'control-label' %>
    <div class='controls'>
      <%= c.select :type, { 'Education Company' => 'EducationCompany',
                            'Portfolio Company' => 'PortfolioCompany',
                            'Professional Service Provider' => 'ProfessionalServiceProvider' } %>
    </div>
  </div>

  <div class='control-group'>
    <%= c.label :name, :class => 'control-label' %>
    <div class='controls'>
      <%= c.text_field :name %>
    </div>
  </div>

  <div class='control-group'>
    <%= c.label :representative_id, :class => 'control-label' %>
    <div class='controls'>
      <%= c.text_field :representative_id %>
    </div>
  </div>

  <div class='control-group'>
    <%= c.label :representative_role, :class => 'control-label' %>
    <div class='controls'>
      <%= c.text_field :representative_role %>
    </div>
  </div>

  <%= c.fields_for :phone_numbers do |builder| %>
    <%= render 'shared/phone_number_fields', :f => builder %>
  <% end %>
  <%= link_to_add_fields "Add Phone Number", c, :phone_numbers %>
<!--    <div class='control-group'>
      <%#= pn.select :label, { 'Home' => 'Home',
                              'Business' => 'Business',
                              'Mobile' => 'Mobile',
                              'Other' => 'Other',}, {}, { :class => 'control-label' } %>
      <div class='controls'>
        <%#= pn.text_field :number %>
      </div>
    </div>
  <%# end %>
  -->

  <div class='control-group'>
    <div class='controls'>
      <%= c.submit "#{action}" , :class => 'btn' %>
    </div>
  </div>

<% end %>
