<%= form_for @company, :html => {:class => 'form-horizontal'} do |c| %>

  <div class='control-group'>
    <%= c.label :type, :class => 'control-label' %>
    <div class='controls'>
      <%= c.select :type, { 'Education Company' => 'EducationCompany',
                            'Portfolio Company' => 'PortfolioCompany',
                            'Professional Service Provider' => 'ProfessionalServiceProvider' } %>
    </div>
  </div>

  <div class='control-group'>
    <%= c.label :name, :class => 'control-label' %>
    <div class='controls'>
      <%= c.text_field :name %>
    </div>
  </div>

  <div class='control-group'>
    <%= c.label :representative_name, :class => 'control-label' %>
    <div class='controls'>
      <%= c.text_field :representative_name, :"data-provide" => "typeahead", :"data-source" => "#{@representatives}", :autocomplete => "off" %>
    </div>
  </div>

  <div class='control-group'>
    <%= c.label :representative_role, :class => 'control-label' %>
    <div class='controls'>
      <%= c.text_field :representative_role %>
    </div>
  </div>

  <h4>Phone Numbers</h4>
  <%= c.fields_for :phone_numbers do |builder| %>
    <%= render 'shared/contact_info_fields/phone_number_fields', :f => builder %>
  <% end %>
  <p>
    <%= link_to_add_fields "Add Phone Number", c, :phone_numbers %>
  </p>

  <h4>Email Addresses</h4>
  <%= c.fields_for :email_addresses do |builder| %>
    <%= render 'shared/contact_info_fields/email_address_fields', :f => builder %>
  <% end %>
  <p>
    <%= link_to_add_fields "Add Email Address", c, :email_addresses %>
  </p>

  <h4>Websites</h4>
  <%= c.fields_for :websites do |builder| %>
    <%= render 'shared/contact_info_fields/website_fields', :f => builder %>
  <% end %>
  <p>
    <%= link_to_add_fields "Add Website", c, :websites %>
  </p>

  <h4>Notes</h4>
  <%= c.fields_for :notes do |builder| %>
    <%= render 'shared/contact_info_fields/note_fields', :f => builder %>
  <% end %>
  <p>
    <%= link_to_add_fields "Add Note", c, :notes %>
  </p>

  <div class='control-group'>
    <div class='controls'>
      <%= c.submit "#{action}" , :class => 'btn' %>
    </div>
  </div>

<% end %>
