<h2><%= @company.type %></h2>
<h1><%= @company.name %></h1>
<h3><%= "#{@company.representative_role}: " %><%= link_to @company.representative.full_name, person_path(@company.representative), :method => :get %></h3>
<dl>
  <%= render :partial => 'shared/show_info', :locals => { :contact => @company, :info_type => 'phone_numbers' } %>
  <%= render :partial => 'shared/show_info', :locals => { :contact => @company, :info_type => 'email_addresses' } %>
  <%= render :partial => 'shared/show_info', :locals => { :contact => @company, :info_type => 'websites' } %>
  <%= render :partial => 'shared/show_info', :locals => { :contact => @company, :info_type => 'notes' } %>
</dl>
<% if current_user %>
	<%= link_to 'Edit', edit_company_path(@company), :class => 'btn' %>
	<%= link_to 'Delete', company_path(@company), :method => :delete, :confirm => 'Are you sure?', :class => 'btn' %>
<% end %>
