<!DOCTYPE html>
<html>
<head>
  <title>ICA</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/header" %>
<div class='container' style='padding-top:40px'>
  <% if flash[:notice] %>
    <%= render :partial => 'shared/success', :locals => { :notice => flash[:notice] } %>
  <% end %>
  <% if flash[:error] %>
    <%= render :partial => 'shared/error', :locals => { :error => flash[:error] } %>
  <% end %>
  <%= yield %>
</div>
<%= render "shared/footer" %>

</body>
</html>
